.Line {
height: 6px;
width: 100px;
background-color: black;
margin: 8px autol;
} 
#MyVideo {
width: 100%;
    height: 500px;
    background-color:green;
}
#Apps {
width: 100%;
    height: 800px;
    background-color: red;
}
#MyGames {
width: 100%;
    height: 500px;
    background-color:blue;
}
#JFKChatbot {
width: 100%;
    height: 500px;
    background-color:yellow;
}